{% extends 'encyclopedia/layout.html'%}
{% load static%}

{% block title %}
create
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'encyclopedia/create.css' %}">
{% endblock %}

{% block body %}
<h1>Create new page</h1>
<section>
    <form action="{% url 'create'%}" method="post" id="form">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="textarea">
            Enter content
            <br>
            <span id="remember">
                Remember the content should use markdown
                more info about markdown in <a href="https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">the github markdown guide</a>
            </span>
        </label>
        <textarea name="textarea" id="textarea" placeholder="Content"></textarea>
    </form>
</section>
{% endblock %}