{% extends 'encyclopedia/layout.html'%}
{% load static%}

{% block title %}
create
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'encyclopedia/create.css' %}">
{% endblock %}

{% block body %}
<h1>Create new page</h1>
<section>
    <form action="{% url 'create'%}" method="post" id="form">
        {% csrf_token %}
        {% for field in form%}
        {{field.label_tag}}
        <h5>

        </h5>
        {{field}}
        {% if field.errors %}
        {% for err in field.errors %}
        <h6 class="error">{{err}}</h6>
        {% endfor %}
        {% endif %}
        {% endfor %}
        <div class="sub">
            <input type="submit" value="Save new page">
        </div>
        {% if entry %}
        <h5>A page for 
            <a href="{% url 'encyclopedia' entry%}">
                {{entry}} 
            </a>
            already exist
        </h5>
        {% endif %}
    </form>
</section>
{% endblock %}